[browser]
homepage=http://www.google.it
startup_load_delayed=true
startup_load_delay=100
cookiejar=false
java=false
javascript=true
javascript_can_open_windows=true
javascript_can_close_windows=false
webgl=false
plugins=true
ignore_ssl_errors=true
show_homepage_on_window_close=true
disable_hotkeys=false
[signals]
enable=true
SIGUSR1=
SIGUSR2=
[rpc]
enable=false
listen=127.0.0.1:9000

[inspector]
enable=false
visible=false

[attach]
styles=
javascripts=

[event-sounds]
enable=false

[cache]
enable=true
location=cache
size=100000000
clean-on-start=false
clean-on-exit=false

[application]
organization=Organization
organization-domain=www.example.com
name=QtWebkitKiosk
version=1.99.5

[printing]
enable=false
show-printer-dialog=false
printer=default
page_margin_left=0
page_margin_top=0
page_margin_right=0
page_margin_bottom=0

[proxy]
enable=false
system=true
host=proxy.example.com
port=3128
auth=false
username=username
password=password

[view]
fullscreen=true
maximized=false
fixed-size=false
fixed-width=RESOLUTION_WIDTH
fixed-height=RESOLUTION_HEIGHT
fixed-centered=true
fixed-x=0
fixed-y=0
stay_on_top=false
minimum-width=RESOLUTION_WIDTH
minimum-height=RESOLUTION_HEIGHT
minimal-width=RESOLUTION_WIDTH
minimal-height=RESOLUTION_HEIGHT
startup_resize_delayed=true
startup_resize_delay=200
hide_scrollbars=true
disable_selection=true
show_load_progress=true
page_scale=1.0
hide_mouse_cursor=false

